#roulette {
    border: 1px solid;
    width: 200px; 
    height: 200px;
}
td {
    border: 1px solid;
}
#flame {
    font-size: 40px;
}
.run {
    background-color: #ffcc99;
}

.stop {
    background-color: #ff0000;
}

.used {
    background-color: #cccccc;
}
.reset {
    background-color: #ffffff;
}